</br>
<div class="container">
  <h2>☺︎フォロー中☺︎</h2>&emsp;<%= link_to "戻る", user_path(@user.id) %>
  <% if @users.exists? %>
    <%= render '/public/relationships/follow_list', users: @users %>
  <% else %>
    <p>ユーザーはいません</p>
  <% end %>
</div>