</br>
<div class="container">
  <h4 style="color: #800000">🌹Following List🌹︎</h4>

  <% if @users.exists? %>
    <%= render '/public/relationships/follow_list', users: @users %>
  <% else %>
    <p>ユーザーはいません</p>
  <% end %>
</div>