<br>
<div class="container">
  <div class="col-md-12 col-sm-10">
    <h5 >🌹Post List🌹<small>〜いいねが多い順〜</small></h5>
  </div>

  <div class= "row">
    <div class="col-md-12 col-sm-10">
      <%= render '/public/post_images/post_image_list', post_images: @post_images %>
    </div>
  </div>
  <div class= "row">
    <div class="col-5"></div>
      <div class= "col-2 text-center">
        <div class="pagination">
          <%= paginate @post_images %>
       </div>
    </div>
  </div>
</div>
