</br>
<div class="container">
  <div class="row">
    <div class="col-6"></div>
    <div class="col-6">
      </br>
      <h5 style="color: #800000">🌹ハンドメイドのお店🌹</h5>
      <h6>
        マルシェなどで出店しております。
      </h6>
      <small>
        PandaRosesの名前の由来は</br>
        娘がパンダとお花が好きだからです。</br>
      </small>

      </br>
      <h5 style="color: #800000">🌹PandaRses 仲間と繋がろう🌹</h5>
      <h6>PandaRsesの商品を通じて交流の場ができればと思いSNSを始めました。</br>
      <small>
        会員でない方も PandaRses の商品は閲覧していただけます。</br>
        ※このお店は架空のものです
      </small>
      </h6>
      </br>
      <h6 style="color: #800000">
        🌹New Item🌹
        <%= link_to items_path do %>
          <%= "Item AllList>>" %>
        <% end %>
      </h6>
    </dv>
    <div class="col-6"></div>
    <div class="col-6">
      <div class="slider">
        <% @items.each do |item| %>
          <div>
            <%= link_to item_path(item.id) do %>
              <%= image_tag item.image, class: "ab-slider" %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>