<br>
<div class="container">
  <div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-6 col-sm-11">
      <br>
      <h5 style="color: #800000">🌹ハンドメイドのお店🌹</h5>
      <h6>
        リースやブーケ、アクセサリーやキャンドル<br>
        などをハンドメイドしています。<br>
        マルシェなどで出店しております。<br>
      </h6>
        PandaRosesの名前の由来は</br>
        娘がパンダとお花が好きだからです。<br>

      <br>
      <h5 style="color: #800000">🌹PandaRoses 仲間と繋がろう🌹</h5>
      <h6>PandaRosesの商品を通じて交流の場が<br>
        できればと思いSNSを始めました。<br>
        会員でない方も PandaRoses の商品は閲覧<br>
        していただけます。</br>
      </h6>
      <br>
      <h5 style="color: #800000"> 🌹New Item🌹<small>~新作３件~</small></h5>
      <h6>
        全ての商品は
        <%= link_to items_path do %>
          <%= "こちら>>" %>
        <% end %>
        からご覧ください。
      </h6>
    </dv>
    <div class="col-md-6"></div>
    <div class="col-md-6 col-sm-11">
      <div class="slider">
        <% @items.each do |item| %>
          <div>
            <%= link_to item_path(item.id) do %>
              <%= image_tag item.get_image, size: "200x200", class: "ab-slider" %>
            <% end %>
          </div>
        <% end %>
      </div>
      <small>※このお店は架空のものです※</small>
    </div>
  </div>
</div>