
<div class="top">
    <p class="top_resizeimage">
       <%= image_tag('micheile-dot-com-KsV60CAazE0-unsplash') %>
    </p>
    <h3 class="top_text">
        <big>🐼panda_roses🌹ハンドメイドのお店のサイトです！</big></br>
        </br>
        <strong>
            〜娘が好きなパンダとお花をお店の名前にしました〜
        </strong>
        </br>
        <small>
            会員でない方もpnda_rosesの新作情報は閲覧できますが、</br>
            投稿、閲覧するには会員登録が必要になります。</br>
            店頭販売のみで、通信販売は致しておりません。</br>
            ※このお店は実在しません
        </small>
    </h3>

</div>