</br>
<div class="container">
  <div class="row">
    <div class="col-6">
      <h4 style="color: #800000">🌹<%= @user.last_name %><%= @user.first_name %>さんのFollowing List🌹︎</h4>&emsp;<%= link_to "<Back", admin_user_path(@user.id) %>︎</h4>
    </div>
  </div>
  </br>
  </br>
  <% if @users.exists? %>
    <%= render '/admin/relationships/follow_list', users: @users %>
  <% else %>
    <p>ユーザーはいません</p>
  <% end %>
</div>