</br>
<div class="container">
  <div class="row">
    <div class="col-2 text-center ml-30">
      <h4 class="bg-warning">☺︎フォロー中☺︎</h2>&emsp;<%= link_to "<戻る", admin_user_path(@user.id) %>︎</h4>
    </div>
  </div>
  </br>
  </br>
  <% if @users.exists? %>
    <%= render '/admin/relationships/follow_list', users: @users %>
  <% else %>
    <p>ユーザーはいません</p>
  <% end %>
</div>