<br>
<div class="container">
  <h4 class="font-weight-bold">☺︎検索結果☺︎</h4>

  <% if @range == "会員" %>
    <%= render '/admin/users/user_list', users: @users %>
  <% else %>
    <%= render '/admin/post_images/post_image_list', post_images: @post_images %>
  <% end %>
</div>