<br>
<div class="container">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-md-10 col-sm-12">
     <h4  style="color: #800000">🌹︎Search Results🌹︎</h4>
      <% if @range == "会員" %>
        <%= render '/admin/users/user_list', users: @users %>
      <% else %>
        <%= render '/admin/post_images/post_image_list', post_images: @post_images %>
      <% end %>
    </div>
  </div>
</div>