</br>
<div class="container">
  <div class="row">
    <div class="col-6">
      <h4 style="color: #800000">🌹PostList🌹︎</h4>
    </div>
  </div>

  <div class="row">
    <%= render '/admin/post_images/post_image_list', post_images: @post_images %>
  </div>
  <div class="row">
    <div class="col-5"></div>
    <div class= "col-2 text-center">
      <div class="pagination">
        <%= paginate @post_images %>
       </div>
    </div>
  </div>
</div>
