/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
   font-family: 'Kosugi Maru', sans-serif;
}

nav {
  width: 100%;
  margin: 0 auto;
  border-top: solid 0.7px #000000;
  border-bottom: solid 0.7px #000000;
}

.nav-list {
  text-align: center;
  padding: 10px 0;
  margin: 0 auto;
}

.nav-item {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}

.top {
  position: relative;
}

.top_resizeimage img {
  width: 100%;
  opacity: 0.6;
}

.top_text {
  color: black; /* 文字色 */
  font-size: 24px; /* 文字の大きさ */
  font-weight: bold;
  position: absolute;
  left: 45%;
  top: 15%;
}

.item-box1 {
  width: 170px;
  height: 250px;
  margin: 10px;
  position: relative;
}

.item-box2 {
  display: block;
  width: 150px;
  height: 170px;
  margin: 10px;
  flex-wrap: wrap;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


.item-wrap1 {
  display: flex;
  justify-content: space-around;
}

.top_item-wrap2 {
  display: flex;
  justify-content: space-around;
  background-color: white;
  padding: 5px;
  border-color: black;
}

.post_images-wrap {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
  background-color: white;
  padding: 5px;
  border-color: black;
}

.post_images-box1 {
  display: block;
  width: 170px;
  height: 270px;
  margin: 10px;
  flex-wrap: wrap;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.post_images-box2 {
  display: block;
  width: 170px;
  height: 320px;
  margin: 10px;
  flex-wrap: wrap;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.post_images-comment {
  display: block;
  width: 170px;
  left: 0;
  bottom: 0;
  position: absolute;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


