<div>
  <%= flash[:notice] %>
<div>
<br>
<div class="container">

  <div class="row">
    <div class="col-1"></div>
    <div class="col-2 text-center ml-30">
      <h4 class="bg-warning">☺︎会員一覧☺︎</h4>
    </div>
  </div>
      <br>

  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <%= render '/admin/users/user_list', users: @users %>
     </div>
  </div>

  <div class= "row">
    <div class="col-5"></div>
    <div class= "col-2 text-center">
      <%= paginate @users %>
    </div>
  </div>

</div>